*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    /*browser default is 16px, we want font-size to be 10px as the reference for rem */
    /*defines what 1 rem is*/
}

body {
    box-sizing: border-box;
}